.todo {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition: background .3s ease;

  p,input {
     margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.todo__sub-text {
  color: #999;
  font-size: 90%;
}

.todo-completed {
  p,.todo__sub-text {
    color: $light-color;
    text-decoration: line-through;
  }
}